* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: aqua;
}

body {
    background-color: skyblue;
    width: 80%;
    margin: auto;
}

header h1, blockquote, figure, tr, td {
    text-align: center;
}

.description {
    padding: 0 .5rem;
}

table, td {
    border: 1px solid black;
}